<div class="main">
  <aside class="admin-sidebar">
    <h2>RMArket Admin</h2>

    <nav>
      <a routerLink="/admin">📊 Dashboard</a>
      <a routerLink="/products">📦 Products</a>
      <a>🗂 Categories</a>
      <a routerLink="/orders">🧾 Orders</a>
      <a routerLink="/users">👥 Users</a>
      <a>⚙ Settings</a>
      <a routerLink="/">🚪 Logout</a>
    </nav>
  </aside>

  <div class="hh">
    <h2>Users</h2>

    <table class="admin-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>

  <span
    class="role"
    [ngClass]="user.role === 'admin' ? 'role-admin' : 'role-customer'"
  >
    {{ user.role }}
  </span>

</td>
          <td>
            <button class="danger" (click)="deleteUser(user)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>